<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Career Portal{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'careers/style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'django_career_app:career_home' %}">Careers Home</a>
        {% if user.is_staff %}
            <a href="{% url 'admin:index' %}">Admin</a>
        {% endif %}
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
